<a href="https://colab.research.google.com/github/omardrho/CV/blob/main/Spam_ham_1stProj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the needed libs

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/spam.csv', encoding="ISO-8859-1")
df.head(20)

      v1  ... Unnamed: 4
0    ham  ...        NaN
1    ham  ...        NaN
2   spam  ...        NaN
3    ham  ...        NaN
4    ham  ...        NaN
5   spam  ...        NaN
6    ham  ...        NaN
7    ham  ...        NaN
8   spam  ...        NaN
9   spam  ...        NaN
10   ham  ...        NaN
11  spam  ...        NaN
12  spam  ...        NaN
13   ham  ...        NaN
14   ham  ...        NaN
15  spam  ...        NaN
16   ham  ...        NaN
17   ham  ...        NaN
18   ham  ...        NaN
19  spam  ...        NaN

[20 rows x 5 columns]

clean the data

In [ ]:
df.info

<bound method DataFrame.info of         v1  ... Unnamed: 4
0      ham  ...        NaN
1      ham  ...        NaN
2     spam  ...        NaN
3      ham  ...        NaN
4      ham  ...        NaN
...    ...  ...        ...
5567  spam  ...        NaN
5568   ham  ...        NaN
5569   ham  ...        NaN
5570   ham  ...        NaN
5571   ham  ...        NaN

[5572 rows x 4 columns]>

In [ ]:
#after deleting useless columns
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

renaming the columns

In [ ]:
df=df.rename(columns={'v1':'category','v2':'content'})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  5572 non-null   object
 1   content   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [ ]:
df.head()

  category                                            content
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

Finding null values

In [ ]:
n=df.isnull()
n.sum()

category    0
content     0
dtype: int64

In [ ]:
#there is no null value in the category and content columns

In [ ]:
#Label incoding
#we have two cases in the categ col , so one of them would be 1 the other would take 0 as a value